*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
 
/*stilizzazione header*/

header{
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header-top{
    background-color: #245EE9;
    height: 90px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.top-yellow{
    line-height: 35px;
    width: 70%;
    display: flex;
}

.top-logo, .top-login{
    width: 20%;
    display: inline-block;
}


.top-login{
    text-align: right;
}

.top-link{
    text-align: center;
    display: inline-block;
    flex-grow: 1;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
}


.top-img{
    padding: 45px 0;
}


header .wallpaper{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.wallpaper h1, p, button{
    padding: 15px 0;
}

.wallpaper p{
    font-size: 18px;
}

.wallpaper h1{
    font-size: 2rem;
}

button{
    border-radius: 25px;
    padding: 10px;
    border: none;
}

.but-black{
    background-color: black;
    color: white;
    margin-left: 10px;
}


/*main*/

main{
    margin: 0 auto;
}

.gray{
    background-color: #CCCCCC;
    padding: 30px 50px 30px 50px;
}

.white{
    padding: 30px 50px 30px 50px;
}

.main-top{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
}

.main-text{
    width: 40%;
    text-align: left;
    padding-top: 50px;
}  

.main.img{
    width: 60%;
}

.main-text h2{
    font-size: 3rem;
}

.main-text p{
    font-weight: 200;
    padding-top: 10px;
    line-height: 20px;
}

.main-bottom{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.end-main .stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}


.end-main h2{
    font-size: 1,5rem;
    margin-bottom: 30px;
    padding-top: 15px;
}


.but-blue{
    background-color: #5865F2;
    color: white;
}

/*stilizzazione footer*/

footer{
    background-color: black;
    padding: 20px 0px;
}

.top-footer{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #5865F2;
}

.footer-text{
    width: 25%;
    color: white;
    background-color: black;
}

.footer-text h3{
    color: #5865F2;
    padding: 20px 0;
    font-size: 2rem;
}

.text-logo-footer img{
    width: 20px;
}

.icons-footer i{
    padding: 10px 15px 0px 0px;
}

.footer-link{
    width: calc(75% / 4);
    text-align: center;
}
.footer-link h4{
    color: #5865F2;
    font-weight: 700;
}

.footer-link ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-link ul li{
    padding-top: 15px;
}

.bottom-footer{
    height: 60px;
    padding: 10px 15px;
}

.end-footer{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* personalizzazione button*/
.vibrate-1 {
	-webkit-animation: vibrate-1 0.9s linear infinite both;
	        animation: vibrate-1 0.9s linear infinite both;
}


 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  

  button:hover{
      color: aqua;
      opacity: 0.4;
  }

  /*personalizzazione h1*/

  .focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 both;
}

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /*aggiunta wave*/

  .wave{
      background-image: url(../img/wave.svg);
      height: 100px;
      filter: opacity(0.2);
  }
  
  .wave.reverse{
      transform: rotateX(180deg);
  }